<h3>List of Books</h3>

<div>
    <ul>
        <li ng-repeat="book in books.allBooks">
            {{book.title}} - {{book.author}} &nbsp
            <a href="#/EditBook/{{book.book_id}}">Edit Book</a>
            <button type="button" class="btn btn-default btn-xs" ng-click="books.deleteBook(book.book_id)">
                Delete book
            </button>
        </li>
    </ul>
</div>

<a href="#/AddBook">Add new book</a>
<a href="#/EditBook/{{books.lastEdited.book_id}}">Open Last Edited</a>

<h3>List of Readers</h3>

<div>
    <ul>
        <li ng-repeat="reader in books.allReaders">
            {{reader.name}} - {{books.getBadge(reader.totalMinutesRead)}}
        </li>
    </ul>
</div>

<h3>Current Favorite Book</h3>
<div>
    {{books.favoriteBook}}
</div>